# IMPORTANT: don't change anything inside this file except the sizes!

# You can specify up to 5 preset sizes the app loads when it starts, only the first 5 are used
# Append ! after a value to signal it as the default value
# Note that the min and max values are 0.5 and 5000.0. Values outside this range are clamped

[Sizes]
5.0
10.0 !
25.0
50.0
100.0
